[submodule "learner-server/stable-baselines3"]
	path = learner-server/stable-baselines3
	url = https://github.com/isamu-isozaki/stable-baselines3.git
[submodule "ai-server/stable-baselines3"]
	path = ai-server/stable-baselines3
	url = https://github.com/isamu-isozaki/stable-baselines3.git
